.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  height: 2ch;
  margin: 30px;
  margin-bottom: 150px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Lobster', cursive;
  margin-bottom: 70px;
}

img {
  width: 80%;
  background-color: #4ECCA3;
  border-top: 4px solid #4ECCA3;
  border-bottom: 4px solid #4ECCA3;
  border-left: 8px solid #4ECCA3;
  border-right: 8px solid #4ECCA3;
  border-radius: 20px;
  margin-bottom: 50px;
}

footer {
  font-size: 1.5rem;
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Lobster', cursive;

}

#btn {
  font-size: 1.5rem;
  color: white;
  padding: 15px 40px;
  margin: 50px;
  border-radius: 20px;
  border-color: #4ECCA3;
  background-color: #4ECCA3;
}